.name {
    background-color: blue;
    color: white;
}

body {
    
    background-image: url("../assets/backgroundtile.gif");
}

.bio {
    font-size: 18px;
}

.portrait {
    width: 250px;
    /* height: 250px; */
}

